//////////////////// BLÖCKE //////////////////////

// Hier werden in Platzhalter-Elementen die Gestaltung von Farb-Blöcken
// definiert. In einem Farbblock werden Hintergrund- und Schriftfarbe
// gesetzt. Dadurch können Sie durch die Änderung der Blockgestaltung
// Elemente gleichmäßig gestalten.
// Sie können jedoch einzelne Ausnahmen weiterhin in den jeweiligen
// Implementationen der Blöcke angeben.

// Um ein Element die Gestaltung eines Blocks zuzuweisen, verwenden Sie
// die entsprechende CSS-Klasse, die Sie am unteren Dateiende finden.


// Seitenhintergrund
HTML {
  @include rp-block((
    bg: $color-main-bg-bright,
    color: $color-text,
    dark: $color-text,
  ));
}

// Standardfarbe für Links
A {
  color: $color-main-text;
}


//////////////////// INVERTIERTE FARBEN //////////////////////


// Dunklerer Ton der invertierten Hintergrundfarbe, mit invertierter Textfarbe
%block-invert-dark {
  @include rp-block((
    bg: $color-neutral-dark,
    color: $color-text,
    invert: $color-text-invert,
    link-color: $color-text,
    link-invert: $color-text-invert
  ));
}


// Intervierter Hintergrund mit invertierter Textfarbe
%block-invert {
  @include rp-block((
    bg: $color-neutral,
    color: $color-text,
    invert: $color-text-invert,
    link-color: $color-text,
    link-invert: $color-text-invert
  ));
}


// Hellerer Ton der intervierten Hintergrundfarbe, mit invertierter Textfarbe
%block-invert-light {
  @include rp-block((
    bg: $color-neutral-light,
    color: $color-text-light,
    invert: $color-text-invert-light,
    link-color: $color-text-light,
    link-invert: $color-text-invert-light
  ));
}


//////////////////// NEUTRALE FARBEN //////////////////////

// Im Kontext des Shops werden sättigungslose Farben als "neutral" bezeichnet,
// da sich einige Graustufen auch von der Hauptfarbe ableiten.


// Neutraler Hintergrund mit normaler Schriftfarbe
%block-neutral {
  @include rp-block((
    bg: $color-neutral-bg,
    color: $color-text,
    dark: $color-text,
    invert: $color-text-invert-light,
    link-color: $color-main-text,
    link-dark: $color-main-dark,
    link-invert: $color-text-invert
  ));
}

// Hellerer, neutraler Hintergrund mit normaler Schriftfarbe
%block-neutral-light {
  @include rp-block((
    bg: $color-neutral-bg-light,
    color: $color-text,
    dark: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-dark: $color-main-dark,
    link-invert: $color-text-invert
  ));
}


//////////////////// HELLE HAUPTFARBE //////////////////////


// Heller Hintergrund mit normaler Schriftfarbe
%block-brand {
  @include rp-block((
    bg: $color-main-bg,
    color: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-invert: $color-main-text,
  ));
}

// Komplett weißer (schwarzer) Hintergrund mit hellerer Schriftfarbe
%block-brand-bright {
  @include rp-block((
    bg: $color-main-bg-bright,
    color: $color-text-light,
    invert: $color-text-invert
  ));
}

// Hellere Hintergrundfarbe mit hellerer Schriftfarbe
%block-brand-light {
  @include rp-block((
    bg: $color-main-bg-light,
    color: $color-text-light,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-invert: $color-main-text
  ));
}


//////////////////// HAUPTFARBE //////////////////////


// Hauptfarbe als Hintergrundfarbe, Seitenhintergrund als Textfarbe
%block-brand-invert {
  @include rp-block((
    bg: $color-main,
    color: $color-text,
    invert: $color-text-invert
  ));
}

// Dunklere Hauptfarbe als Hintergrundfarbe, hellere Schriftfarbe als Textfarbe
%block-brand-invert-dark {
  @include rp-block((
    bg: $color-main-dark,
    color: $color-text,
    invert: $color-text-invert
  ));
}

// Hellere Hauptfarbe als Hintergrundfarbe, Seitenhintergrund als Textfarbe
%block-brand-invert-light {
  @include rp-block((
    bg: $color-main-light,
    color: $color-text,
    invert: $color-text-invert
  ));
}


//////////////////// HINTERGRUND NEUTRAL, TEXT HAUPTFARBE //////////////////////


// Hellere, neutrale Hintergrundfarbe, Schriftfarbe mit Hauptfarben-Anteil
%block-neutral-light-brand-text {
  @include rp-block((
    bg: $color-neutral-bg-light,
    color: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-invert: $color-text-invert
  ));

  H1,
  H2,
  H3,
  H4,
  .subheadline {
    @include rp-choose-color((
      bg: $color-neutral-bg-light,
      color: $color-main-text,
      invert: $color-text-invert
    ));
  }
}


// Neutrale Hintergrundfarbe, Schriftfarbe mit Hauptfarben-Anteil
%block-neutral-brand-text {
  @include rp-block((
    bg: $color-neutral-bg,
    color: $color-text,
    dark: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-dark: $color-main-dark,
    link-invert: $color-text-invert
  ));

  H1,
  H2,
  H3,
  H4,
  .subheadline {
    @include rp-choose-color((
      bg: $color-neutral-bg,
      color: $color-main-text,
      dark: $color-main-dark,
      invert: $color-text-invert
    ));
  }
}


// Hintergrundfarbe mit Hauptfarbe, Schriftfarbe mit Hauptfarben-Anteil
%block-brand-text {
  @include rp-block((
    bg: $color-main-bg,
    color: $color-text,
    dark: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-dark: $color-main-dark,
    link-invert: $color-text-invert
  ));

  H1,
  H2,
  H3,
  H4,
  .subheadline {
    @include rp-choose-color((
      bg: $color-main-bg,
      color: $color-main-text,
      dark: $color-main-dark,
      invert: $color-text-invert
    ));
  }
}

// Hellere Hintergrundfarbe mit Hauptfarbe, Schriftfarbe mit Hauptfarben-Anteil
%block-brand-text-light {
  @include rp-block((
    bg: $color-main-bg-light,
    color: $color-text,
    dark: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-dark: $color-main-dark,
    link-invert: $color-text-invert
  ));

  H1,
  H2,
  H3,
  H4,
  .subheadline {
    @include rp-choose-color((
      bg: $color-main-bg-light,
      color: $color-main-text,
      dark: $color-main-dark,
      invert: $color-text-invert
    ));
  }
}

// Weiße (schwarze) Hintergrundfarbe, Schriftfarbe mit Hauptfarben-Anteil
%block-brand-text-bright {
  @include rp-block((
    bg: $color-main-bg-bright,
    color: $color-text,
    dark: $color-text,
    invert: $color-text-invert,
    link-color: $color-main-text,
    link-dark: $color-main-dark,
    link-invert: $color-text-invert
  ));

  H1,
  H2,
  H3,
  H4,
  .subheadline {
    @include rp-choose-color((
      bg: $color-main-bg-light,
      color: $color-main-text,
      dark: $color-main-dark,
      invert: $color-text-invert
    ));
  }
}


//////////////////// AKZENTFARBE //////////////////////


// Akzentfarbe als Hintergrundfarbe, Seitenhintergrund als Textfarbe
%block-accent {
  @include rp-block((
    bg: $color-accent,
    color: $color-text,
    invert: $color-text-invert,
    link-color: $color-text,
    link-invert: $color-text-invert
  ));
}

// Dunklere Akzentfarbe als Hintergrund, Seitenhintergrund als Textfarbe
%block-accent-dark {
  @include rp-block((
    bg: $color-accent-dark,
    color: $color-text,
    invert: $color-text-invert,
    link-color: $color-text,
    link-invert: $color-text-invert
  ));
}


//////////////////// EINGABEFELD //////////////////////


%block-input {
  @if ( $color-darkmode ) {
    background-color: $color-black;
    color: $color-white;

    &::placeholder {
      color: $color-text-placeholder;
    }
  } @else {
    background-color: $color-white;
    color: $color-black;

    &::placeholder {
      color: $color-text-placeholder;
    }
  }
}


//////////////////// RESET //////////////////////


// Hintergrundfarben zurücksetzen
%block-reset {
  background-color: transparent;
  color: $color-text;

  A {
    color: $color-text;
  }
}


//////////////////// KLASSEN //////////////////////

// Damit Sie einzelne Blöcke individuell gestalten in Ihren Vorlagen können, 
// geben Sie einem übergeordneten Element die entsprechende Klasse mit dem
// Präfix "page".


.page-invert-dark { @extend %block-invert-dark; }
.page-invert-light { @extend %block-invert-light; }
.page-invert { @extend %block-invert; }
.page-neutral { @extend %block-neutral; }
.page-neutral-light { @extend %block-neutral-light; }
.page-neutral-brand-text { @extend %block-neutral-brand-text; }
.page-neutral-light-brand-text { @extend %block-neutral-light-brand-text; }
.page-brand { @extend %block-brand; }
.page-brand-invert { @extend %block-brand-invert; }
.page-brand-invert-light { @extend %block-brand-invert-light; }
.page-brand-invert-dark { @extend %block-brand-invert-dark; }
.page-brand-light { @extend %block-brand-light; }
.page-brand-text { @extend %block-brand-text; }
.page-brand-text-light { @extend %block-brand-text-light; }
.page-brand-bright { @extend %block-brand-bright; }
.page-brand-text-bright { @extend %block-brand-text-bright; }
.page-accent { @extend %block-accent; }
.page-accent-dark { @extend %block-accent-dark; }


//////////////////// INHALT / LAYOUT //////////////////////


// Bereiche zur manuellen Zentrierung
.text-only,
.center-only {
  margin: 0 auto;
  padding: .25em .5em;
}

// Inhalt des Elements darf maximal die Breite für Fließtext erhalten
.text-only {
  max-width: $center-text-max-width;

  H1 {
    font-size: $font-size-textonly;
    font-weight: $font-weight-light;
    line-height: 1.2em;
  }
}

// Inhalt des Elements darf maximal die Breite des Inhalts annehmen
// Diese Angabe ist bereits in vielen bestehenden Klassen gesetzt
.center-only {
  max-width: $center-max-width;
}


//////////////////// BARRIEREFREIHEIT //////////////////////


// Versteckte Überschriften für Screenreader
.a11y-header {
  position: absolute;
  user-select: none;
  visibility: hidden;
  z-index: 0;
}
