//////////////////// BUTTONS //////////////////////

// Sie können Buttons nicht nur durch das <button>-Element erstellen,
// sondern auf Wunsch auch Links wie Buttons aussehen lassen.
// Dies lässt sich durch die Klasse .button steuern.

// Ein Button kann durch weitere Klassen zusätzlich gestaltet werden:
// .button-big -> Höhere Schriftgröße
// .button-action -> Akzentfarbe
// .button-disabled -> Button "deaktiviert"

// Durch Verwendung der Klasse "icon" können Sie vor den Text ein
// Symbol, das Sie in der _sprites.scss generieren, voransetzen.
// Geben Sie die Klasse "icon-only" an, so wird der Text versteckt.


//////////////////// HOVER //////////////////////


// Hauptfarbe
%button-hover {
  @extend %block-brand-invert-dark;
  border-color: $color-main-dark;
}

// Akzentfarbe
%button-accent-hover {
  @extend %block-accent-dark;
  border-color: $color-accent-dark;
}

// deaktivierter Button
%button-disabled-hover {
  background-color: $color-neutral-bg-tint;
  border-color: $color-neutral-bg-shade;
}


//////////////////// BUTTON //////////////////////

// Rahmenbreite
$button-border-width: .0625em;

%button {
  // Hauptfarbe als Standard-Hintergrundfarbe verwenden
  @extend %block-brand-invert;

  // Breiten für Symbole reservieren
  @include rp-button-icon(
    $border: $button-border-width,
    $padding-topbottom: .25em,
    $padding-leftright: .5em
  );

  display: inline-block;
  box-sizing: border-box;

  // Absolute Positionsangaben von Pseudoelementen auf Button beziehen
  position: relative;

  // Rahmen gestalten
  border-style: solid;
  border-color: $color-main;
  
  // Spezialgestaltung von iOS deaktivieren
  -webkit-appearance: none;
  appearance: none;
  // Keine abgerundeten Ecken
  border-radius: 0;

  // Unterschrich von Links deaktiveren
  text-decoration: none;

  // Hover-Farben weich ineinander überfließen lassen
  @if ( $use-fx ) {
    transition: background-color $fx-duration, color $fx-duration, border-color $fx-duration;
  }


  // Akzentfarbe
  &.button-action {
    @extend %block-accent;
    border-color: $color-accent;

    &:HOVER {
      @extend %button-accent-hover;
    }
  }

  // deaktiverter Button
  &.button-disabled {
    @extend %button-disabled-hover;
    color: $color-text-light;

    &:HOVER {
      @extend %button-disabled-hover;
    }
  }


  &:HOVER {
    @extend %button-hover;
  }

  &:FOCUS {
    outline: .1875em solid $color-neutral-dark;
  }


  // Symbol
  &.icon {
    padding-bottom: 0;

    // Dunkle Hauptfarbe als Symbolhintergrund
    &:BEFORE {
      @extend %button-hover;
      border-style: solid;
    }

    // Dunkle Akzentfarbe als Symbolhintergrund
    &.button-action:BEFORE {
      @extend %button-accent-hover;
      border-style: solid;
    }

    // Rahmenfarbe des deaktivierten Buttons als Hintergrund
    &.button-disabled:BEFORE {
      @extend %button-disabled-hover;
      background-color: $color-neutral-bg-shade;
      border-style: solid;
    }
  }


  // nur Symbol
  &.icon-only {
    &,
    &-with-hover:not(:hover) {
      padding: 0;
    }
  }

  // Text ausblenden
  &.icon-only-with-hover {
    text-indent: -1000em;
    text-indent: -200vw;
  }

  &.icon-only,
  &.icon-only-with-hover {
    border-color: transparent;
    padding-bottom: 0;

    &:BEFORE {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }

    &:FOCUS {
      outline: none;
      background-color: $color-neutral-dark;
    }
  }

  &.icon.icon-only-with-hover {
    &:HOVER,
    &:FOCUS {
      text-indent: 0;
    }
  }
}


//////////////////// GROßE BUTTONS //////////////////////


%button-big {
  @include rp-button-icon(
    $border: rp-cem($button-border-width, $font-size-l),
    $padding-topbottom: rp-cem(.5em, $font-size-l),
    $padding-leftright: rp-cem(.5em, $font-size-l),
    $border-icon: .333333em
  );

  font-size: $font-size-l;
  &.icon {
    padding-bottom: 0;
  }
}


//////////////////// KLASSEN / ELEMENTE //////////////////////


.button,
A.button,
BUTTON,
SECTION A.button {
  @extend %button;
}

.button-big,
A.button-big {
  @extend %button-big;
}

