//////////////////// WARENKORB //////////////////////

// Schriftgröße des Warenkorbs
$cart-font-size: $font-size-s;

// Maximale Breite des Vorschaufensters
$cart-width: rp-cem(25em, $cart-font-size);


.site-cart {

  //////////////////// VORSCHAU //////////////////////


  &-preview {
    position: absolute;
    top: rp-cem($header-height, $cart-font-size);
    right: 0;
    z-index: 109;
    max-height: 90%;
    max-height: 100vh;

    opacity: 0;
    box-shadow: 0 .25em .5em -.0625em rgba($color-neutral-dark, .5);

    // Zusammenstauchen für Animation
    -webkit-transform: translateZ(1px) scaleX(0) scaleY(0.5);
       -moz-transform: translateZ(1px) scaleX(0) scaleY(0.5);
        -ms-transform: translateZ(1px) scaleX(0) scaleY(0.5);
            transform: translateZ(1px) scaleX(0) scaleY(0.5);
    -webkit-transform-origin: right top;
       -moz-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;

    // Aufklappen animieren
    $cart-fx-duration: $fx-duration-fast;
    @if ( $use-fx ) {
      -webkit-transition: transform $cart-fx-duration ease-out;
         -moz-transition: transform $cart-fx-duration ease-out;
              transition: transform $cart-fx-duration ease-out;
    }

    // Warenkorb geöffnet -> normal darstellen
   &.site-cart-preview-active {
      opacity: 1;
      right: 0;

      -webkit-transform: translateZ(1px) scaleX(1) scaleY(1);
         -moz-transform: translateZ(1px) scaleX(1) scaleY(1);
          -ms-transform: translateZ(1px) scaleX(1) scaleY(1);
              transform: translateZ(1px) scaleX(1) scaleY(1);
    }

    // Weiter unten ankleben, wenn die Loginmaske geöffnet ist
    .login-opened & {
      top: rp-cem($login-height + $header-height, $cart-font-size);
    }

    // Bei klebender Menüleiste ebenfalls den Warenkorb ankleben
    .site-header-fixed & {
      position: fixed;
      top: rp-cem($header-nav-height - .0625em, $cart-font-size);
    }
  }

  // Vorschau anzeigen
  &-preview-active {
    display: block;
  }


  //////////////////// SEITENLEISTE //////////////////////


  &-sidebar {
    position: absolute;
    margin-top: 4.5em;
    top: 1em;
    right: 1em;
    opacity: 1;
    transform: translateX(0);

    .toggle-cart-preview {
      display: none;
    }

    // Bei Scrollen am oberen Seitenkopf ankleben lassen
    &.is-sticky {
      position: fixed;
      margin-top: 0;

      // Bei schmalen Bildschirmen trotzdem immer am Seitenende positionieren
      @media screen and (max-width: $viewport-max-width-s) {
        position: static;
      }
    }
  }


  //////////////////// WRAPPER / BOX //////////////////////

  // Der Wrapper beinhaltet die Gestaltungsangaben, die sowohl bei
  // Seitenleiste als auch Vorschau angewendet werden.


  &-wrapper {
    @extend %block-neutral;
    // Hintergrundfarbe für Fenster-Effekt leicht transparent setzen
    background-color: rgba($color-neutral-bg, .9);

    overflow: auto;
    box-sizing: border-box;
    padding: 0 .5em 1.5em;
    width: $cart-width;

    font-size: $cart-font-size;

    // Auflistung der Warenkorbartikel
    ARTICLE {
      @extend %block-brand-light;

      margin-bottom: .0625em;

      &.site-cart-price,
      &.site-cart-secure {
        background: none;
      }
    }


    // Überschrift der Box
    H2 {
      margin: 0;
      padding: rp-cem(1em, $font-size-l) rp-cem(4em, $font-size-l) rp-cem(1em, $font-size-l) rp-cem(.5em, $font-size-l);

      font-size: $font-size-l;
      text-align: left;
      color: $color-main-text;
    }


    // Unterüberschriften (Produkte, Tarife, ...)
    H3 {
      $header-padding: .5em .5em .25em;

      margin: 0;
      padding: $header-padding;

      font-size: $font-size;
      text-transform: uppercase;
      text-align: center;
      color: $color-main-dark;

      // Links zu entsprechenden Seiten
      A {
        display: block;
        box-sizing: border-box;
        margin: -.5em -.5em -.25em;
        padding: $header-padding;
        text-decoration: none;

        &:HOVER {
          text-decoration: underline;
        }
      }
    }


    &:BEFORE {
      @extend %block-brand-light;
      content: '';
      display: block;
      position: absolute;
      height: .0625em;
    }

    // Schließen-Button
    .toggle-cart-preview {
      position: absolute;
      right: 1em;
      top: .75em;
    }

    // Link zu benötigten Komponenten der Bestellung (z.B. Domains)
    .cart-has-requirements {
      display: block;
      margin: 0;
      padding: .125em 0 0;

      font-weight: $font-weight-semibold;
      text-align: center;
      text-decoration: none;
      color: $color-accent-text;
    }
    A.cart-has-requirements:HOVER {
      text-decoration: underline;
    }

  }


  //////////////////// ZWISCHENSUMME //////////////////////


  &-price {
    position: relative;
    margin: 0;
    padding: 0;

    // Überschrift
    H3 {
      padding-top: rp-cem(1em, $font-size-l);
      padding-left: rp-cem(.5em, $font-size-l);
      font-size: $font-size-l;
      text-transform: none;
      text-align: left;
    }

    // Preis
    LABEL {
      display: block;
      margin: rp-cem(-1.625em, $font-size-xxl) rp-cem(.5em, $font-size-xxl) rp-cem(1em, $font-size-xxl) 0;
      font-size: $font-size-xxl;
      font-weight: $font-weight-semibold;
      text-align: right;
      color: $color-text-dark;
    }

    // Links zur Bestellung
    .button {
      margin: .5em auto 0;
      width: 85%;
      display: block;
      box-sizing: border-box;
      text-align: center;

      &.in-cart {
        @extend %block-neutral;
      }
    }

    // Hauptaktion
    .button-action {
      font-size: rp-cem($font-size-l, $cart-font-size);
      font-weight: $font-weight-semibold;
    }
  }


  // Teaser-Text nach Zwischensumme 
  &-secure {
    border-top: .0625em solid $color-main-bg-light;

    H3 {
      text-transform: none;
    }

    P {
      margin: 0;
      padding: .5em 1em;
    }
  }
}


// Effekt bei Laden aktueller Warenkorbdaten
.cart-item-updating {
  opacity: .5;
  cursor: wait;
}


//////////////////// LISTE DER ELEMENTE //////////////////////


.cart-list {
  $padding-topbottom: .25em;
  $padding-leftright: .5em;
  $price-width: 5.25em;
  $button-width: 1em;
  $amount-width: 4em;

  margin: 0;
  padding: $padding-topbottom 0;


  // Einzelner Artikel
  LI {
    position: relative;
    padding: $padding-topbottom ($price-width + $button-width + ($padding-leftright * 3)) $padding-topbottom $padding-leftright;
    box-sizing: border-box;

    list-style: none;
    color: $color-text;
    word-wrap: break-word;
    border: .1875em solid transparent;

    &:HOVER {
      @extend %block-brand;
    }

    &:FOCUS {
      outline: 0;
      border-color: $color-neutral-dark;
    }
  }


  // Name des Artikels
  A,
  SPAN {
    margin: (0 - $padding-topbottom) 0 (0 - $padding-topbottom) (0 - $padding-leftright);
    padding: $padding-topbottom 0 $padding-topbottom $padding-leftright;
    display: block;
    text-decoration: none;

    color: $color-text;
  }

  // Links unterstreichen
  A:HOVER {
    text-decoration: underline;
  }


  // Produktanzahl
  INPUT {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    margin: -.25em $padding-leftright 0 0;
    width: $amount-width;
    resize: none;

    & + A,
    & + SPAN {
      margin-left: ($amount-width + $padding-leftright);
      padding-left: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }


  // Button "aus Warenkorb entfernen"
  BUTTON {
    position: absolute;
    right: $padding-leftright;
    top: ($padding-topbottom * 2);
    font-size: rp-cem(.75em, $cart-font-size);
  }


  // Preis des Produkts
  .cart-price {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: $padding-topbottom;
    right: ($button-width + ($padding-leftright * 2));
    width: $price-width;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    color: $color-neutral-light;

    // Attribut des Hauptelements zurücksetzen
    SPAN {
      display: inline;
    }
  }
}

.cart-message {
  margin: 0;
  padding: .5em;
}


//////////////////// RESPONSIVE //////////////////////


// Seitenleiste bei schmalen Bildschirmen normal (nach Inhalt?) positionieren
@media screen and (max-width: $viewport-max-width-m) {
  .site-cart-sidebar {
    position: static;
    margin: 1em auto;
  }
}

// Ausrichtung bei Seitenleiste an große Bildschirme anpassen
@media screen and (min-width: $viewport-width-xl) {
  .site-cart-sidebar {
    right: 0;
    width: 28%;
    min-width: $cart-width;
    margin-right: 1em;
  }
}


// Breite der Vorschau in breiten Bildschirm vergrößern
@media screen and (min-width: $viewport-width-l) {
  .site-cart-preview.site-cart-wrapper {
    width: ($cart-width + 5em);
  }
}

// Schmale Bildschirme: Immer Höhe der angeklebten Menüleiste berücksichtigen
@media screen and (max-width: $viewport-max-width-s) {
  .site-cart-preview {
    top: ($header-mobile-height + $header-bar-height);
  }
}

// Sehr schmale Bildschirme: (fast) volle Bildschirmbreite ausnutzen
@media screen and (max-width: $viewport-max-width-xs) {
  .site-cart {
    &-wrapper {
      border-width: 0 0 .25em;
      bottom: 0;
      max-width: 95vw;
    }

    &-preview {
      max-height: 100vh;
    }
  }
}

// Bildschirme mit geringer Höhe sollen Inhalt scrollen lassen
@media screen and (min-height: 30em) and (max-height: 55em) {
  .site-cart-preview {
    bottom: 0;
    max-height: 100vh;

    .site-cart-scroller,
    .site-cart-price {
      position: absolute;
      left: .5em;
      right: .5em;
    }

    .site-cart-price {
      bottom: 1em;
    }

    .site-cart-scroller {
      top: 3.5em;
      bottom: 0;
      margin-bottom: 11em;
      overflow: auto;
    }
  }
}


// Inhalt bei mobilen Geräten mehr Platz geben
@media screen and (max-width: $viewport-max-width-xxs) {
  .site-cart {
    &-sidebar {
      width: auto;
      max-height: none;
      max-width: none;
    }

    &-price {
      padding-bottom: 0;
      LABEL {
        margin-top: 0;
      }
    }

    &-wrapper.site-cart-preview {
      width: 100%;
      left: 0;
      right: 0;
      max-width: none;
    }
  }


  // Artikel verbrauchen weniger Abstand
  .cart-list {
    $padding-topbottom: .5em;
    $padding-leftright: .5em;
    $button-width: 1em;

    LI {
      padding-right: $padding-leftright;
    }

    .button {
      right: $padding-leftright;
      top: auto;
      bottom: ($padding-topbottom);
    }

    // Preis auf eigene Zeile schieben
    .cart-price {
      position: relative;
      width: auto;
      display: block;
    }

    // Auswahlfeld für Anzahl unter Namen schieben
    INPUT {
      position: absolute;
      bottom: ($padding-topbottom / 2);
      z-index: 1;

      & + SPAN {
        margin-left: 0;
        padding-bottom: $padding-topbottom;
      }
      & ~ .cart-price {
        padding-bottom: ($padding-topbottom);
      }
      & ~ .button {
        bottom: ($padding-topbottom * 1.5);
      }
    }

    // Spezialfall Addons mit Eingabefeldern
    &.cart-addon-list {
      LI {
        margin-top: 1em;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }

  }
}

// Mindestbreite: Rahmenbreite verkleinern
@media screen and (max-width: $viewport-max-width-min) {
  .site-cart {
    &-wrapper {
      box-shadow: none;
      width: 95vw;
    }

    &-scroller,
    &-price {
      left: .25em;
      right: .25em;
    }
  }
}

