//////////////////// SPALTEN //////////////////////

// Definieren Sie hier die Spaltenbreite

@mixin rp-columns-3 {
  .column {
    width: 30%;
  }
}

@mixin rp-column-mainbox-3 {
  .column {
    width: 23%;
  }
  .column-main {
    width: 46%;
  }
}

@mixin rp-columns-2 {
  .column {
    width: 46%;
  }
}

@mixin rp-column-mainbox-2 {
  .column {
    width: 36%;
  }
  .column-main {
    width: 56%;
  }
}

$column-padding-topbottom: 1em;
$column-margin-topbottom: 0;
$column-padding-leftright: 1%;
$column-margin-leftright: 1%;

.column {
  display: inline-block;
  position: relative;
  vertical-align: top;

  box-sizing: border-box;
  padding: $column-padding-topbottom $column-padding-leftright;

  text-align: left;

  H1,
  H2 {
    font-family: $font-family-head;
    font-weight: $font-weight-normal;
    line-height: 1.2em;

    // Oberen margin zu Gunsten des paddings ersetzen, um die Gestaltung des
    // aktuellen statt des vorherigen Blocks zu verwenden
    margin: 0 0 1em;
    padding: 1em 0 0;
  }

  &-boxed {
    padding: 0;

    .column-box {
      padding: .5em 1em;
    }
  }

  &-multiple-3 {
    @include rp-columns-3;

    &.column-mainbox {
      @include rp-column-mainbox-3;
    }
  }

  &-multiple-2 {
    @include rp-columns-2;

    &.column-mainbox {
      @include rp-column-mainbox-2;
    }
  }

  &-multiple-wrapper {
    position: relative;
    text-align: center;
    max-width: $center-max-width;
    margin-left: auto;
    margin-right: auto;

    .column {
      margin: $column-margin-topbottom $column-margin-leftright;
    }
  }


  &-picture {
    IMG {
      width: 100%;
    }
  }

  &-subsection {
    $subsection-distance: 1.25em;
    margin: $subsection-distance 0 0;
    padding: $subsection-distance 0 0;
    border-top: .0625em solid $color-neutral-bg;
    border-top-color: rgba($color-neutral, .2);

    H2,
    H3,
    H4 {
      margin-top: 0;
    }

    P:first-of-type {
      margin-top: 0;
    }
  }


  @media screen and (max-width: $viewport-max-width-m) {
    &-multiple-3 {
      &,
      &.column-mainbox {
        .column {
          width: auto;
          display: block;
        }

        .column-picture {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: $viewport-max-width-s) {
    &-multiple-2 {
      &,
      &.column-mainbox {
        .column {
          width: auto;
          display: block;
        }

        .column-picture {
          display: none;
        }
      }
    }

    &-boxed {
      .column-box {
        padding: .25em .5em;
      }
    }
  }
}

UL.column-multiple-wrapper {
  padding-left: 0;
  margin: 0 auto;
}
