//////////////////// FOOTER //////////////////////

// Footer (Impressumslinks) an den unteren Seitenrand kleben
.page {
  $footer-height: 3.25em;
  margin-bottom: (0 - $footer-height - .125em);
  padding-bottom: 0;
  min-height: 100%;

  // Sicherstellen, dass der Footer nicht den Inhalt überlagert
  &:AFTER {
    content: '';
    height: $footer-height;
    display: block;
  }
}


//////////////////// SOCIAL MEDIA //////////////////////

.site-footer-social {
  text-align: center;

  .social-links {
    LI {
      vertical-align: top;

      // zweispaltig bei Tabletbreite
      @media screen and (max-width: $viewport-max-width-m) {
        width: 48%;
      }

      // einspaltig bei mobilen Geräten
      @media screen and (max-width: $viewport-max-width-xxs) {
        width: 100%;
      }
    }

    A {
      position: relative;
      padding: .25em .5em 1.75em 4.5em;
      margin: 0 .25em;
      display: block;

      text-align: left;

      // Standardmäßig Links nicht unterstreichen
      text-decoration: none;

      // Rahmen um Logo setzen
      &:BEFORE {
        border-width: .1875em;
        border-style: solid;
        border-radius: .5em;
        margin: 0 2em -4em -4.25em;
      }

      &:FOCUS {
        outline: none;
        &:BEFORE {
          border-color: $color-neutral-dark;
        }
      }

      &:HOVER {
        // Nur Überschrift bei Mouseover unterstreichen
        H3 {
          text-decoration: underline;
        }
      }

      // Bei breiten Bildschirmen mehr Abstand zwischen Links
      @media screen and (min-width: $viewport-width-hd) {
        padding-left: 5.5em;
        padding-right: 1.25em;
      }
    }

    H3 {
      margin: 0;
      padding: 0;
      font-size: $font-size;
    }

    P {
      margin: 0;

      color: $color-text-invert-light;
      font-weight: $font-weight-light;
      font-size: $font-size-s;
    }

  }

  // Farben der jeweiligen Dienste verwenden
  .icon {
    &-facebook {
      @include rp-social-color($color-social-facebook);
    }
    &-twitter {
      @include rp-social-color($color-social-twitter);
    }
    &-linkedin {
      @include rp-social-color($color-social-linkedin);
    }
    &-gplus {
      @include rp-social-color($color-social-googleplus);
    }
  }

}


//////////////////// IMPRESSUMSLINKS //////////////////////


.site-footer-imprint {
  @extend %bevel-invert-dark;

  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 .25em;
  z-index: 0;

  LI {
    font-size: $font-size-s;
    padding: .75em 0 1em;
    color: $color-text-invert-light;

    &:AFTER {
      content: '-';
      padding: 0 .5em;
    }

    &:last-of-type:AFTER {
      content: '';
    }
  }

  A {
    display: inline-block;
    text-decoration: none;
    margin: -.75em 0 -1em;
    padding: .75em 0;
    border-bottom: .5em solid transparent;
    color: $color-text-invert-light;

    &:HOVER {
      text-decoration: underline;
      color: $color-text-invert;
    }

    &:FOCUS {
      border-bottom-color: $color-text-invert;
      color: $color-text-invert;
      outline: none;
    }
  }

  // Bei schmalen Bildschirmen Links untereinander setzen
  @media screen and (max-width: $viewport-max-width-xxs) {
    LI {
      display: block;
      padding-left: .5em;
      padding-right: .5em;

      &:AFTER {
        content: '';
        padding: 0;
      }
    }

    A {
      display: block;
      text-align: center;
      border-bottom: 0;
      border-top: .0625em solid $color-neutral;

      &:FOCUS {
        outline: .125em solid $color-neutral-bg;
      }
    }
  }

}

