$search-input-height: 3em;
$search-section-padding: 1em;

$width-tld-chooser: 6em;
$width-button: 6.5em;

%domain-price {
  S {
    text-decoration: none;
    position: relative;
    margin-right: .5em;
    padding-left: .25em;
    padding-right: .25em;
    width: 5em;
    text-align: center;
    display: inline-block;

    &:AFTER {
      content: '';
      border-bottom: .125em solid $color-price-action;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: rotate(-6deg);
    }
  }

  B {
    color: $color-main-text;
  }
}


.domainsearch {
  position: relative;

  // Suchbereich
  &-form {
    position: relative;
    padding: $search-section-padding $width-button $search-section-padding $search-section-padding;
    display: inline-block;
    min-width: 35em;

    vertical-align: top;

    @media screen and (max-width: $viewport-max-width-s) {
      display: block;
      min-width: 2em;
    }

    @media screen and (max-width: $viewport-max-width-xxs) {
      padding-left: ($search-section-padding / 2);
      padding-right: (($search-section-padding / 2) + ($width-button / 2));
    }
  }

  &-center {
    padding-left: 2em;

    &:BEFORE {
      @extend %icon-search;
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1.75em;
    }
  }

  &-input {
    border: 0;
    margin: 0;
    vertical-align: top;
    padding: .125em .75em .125em .75em;

    min-height: $search-input-height;
    height: $search-input-height;
    max-height: 15em;

    resize: vertical;
    display: block;
    width: 100%;

    @if ( $use-fx ) {
      transition: padding $fx-duration-faster;
    }

    // Spezialgestaltung von iOS zerstoeren
    -webkit-appearance: none;
    appearance: none;

    // Hack fuer ueberspezifischen [type="search"]-Selektor
    &,
    &[type="search"] {
      box-sizing: border-box;
    }

    &:FOCUS {
      outline: .1875em solid $color-main-light;
    }
  }

  TEXTAREA.domainsearch-input {
    padding-top: .75em;
    padding-bottom: .75em;
  }

  &-submit {
    position: absolute;
    top: 1em;
    right: 0;
    height: $search-input-height;
    padding-left: .5em;
    padding-right: .5em;
    width: $width-button - .125em;

    @if ( $use-fx ) {
      transition: width $fx-duration, background-color $fx-duration, color $fx-duration;
    }

    &:BEFORE {
      @extend %sprite-default;
      @extend %icon-search;
      @extend %icon-search-size;

      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: .125em auto;
      opacity: 0;
      transform-origin: center;
      @if ( $use-fx ) {
        transition: opacity $fx-duration, translation $fx-duration;
      }
    }

    &:FOCUS {
      outline-color: $color-main-light;
    }
  }

  &-form-searching &-submit {
    color: transparent;
    &:BEFORE {
      opacity: 1;
      @if ( $use-fx ) {
        animation: animateSearch 1.5s infinite ease-in-out;
      }
    }
  }

  @media screen and (max-width: $viewport-max-width-m) {
    $width-button: 4em;
    $width-tld-chooser: 4em;
    .resize-helper {
      padding-right: ($width-tld-chooser + $width-button);
    }

    /*
    &-tld {
      right: ($width-button + .75em);
      width: $width-tld-chooser;
    }
    */

    &-submit.button-action {
      right: 2.5em;
      width: ($width-button - .125em);
      color: transparent;

      &:BEFORE {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: $viewport-max-width-s) {
    &-submit.button-action {
      right: 1em;
    }
  }

  @media screen and (max-width: $viewport-max-width-xxs) {
    $width-button: 3.5em;
    $width-tld-chooser: 4em;

    .resize-helper {
      margin-right: 0;
      margin-bottom: .25em;
      padding-right: ($width-tld-chooser + $width-button + .125em);
    }

    /*
    &-tld {
      right: ($width-button + .5em);
      width: $width-tld-chooser;
    }*/

    &-submit.button-action {
      right: .5em;
      width: ($width-button - .125em);
      color: transparent;

      &:BEFORE {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: $viewport-width-xl) {
    $max-width: 38em;
    $pos-right: ($center-max-width - $max-width);
    &-index {
      .domainsearch-form {
        display: block;
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: $pos-right;
      }

      .domainsearch-submit {
        right: ($pos-right - $width-button);
      }
    }
  }

  @media screen and (max-width: $viewport-max-width-min) {
    $width-button: 3.5em;
    $width-tld-chooser: 4em;

    .resize-helper {
      padding-right: $width-button;
    }

    &-tld {
      display: none;
    }
  }


  // Highlight-Top-Level-Domains
  &-highlight-links {
    UL {
      overflow: hidden;
    }

    LI {
      &:nth-of-type(2n) {
        @extend %block-invert-dark;
      }
    }


    A {
      padding: $search-section-padding;

      display: inline-block;
      text-align: center;

      font-size: $font-size-s;
      text-decoration: none;
      box-sizing: border-box;

      margin-right: 0;
    }

    [property="name"] {
      display: block;
      font-size: $font-size-xxl;
      font-weight: $font-weight-bold;
      line-height: rp-cem(1.75em, $font-size-xxl);
      padding-bottom: rp-cem(.25em, $font-size-xxl);
      vertical-align: top;
    }
  }

  &-highlights {
    $link-width: 8em;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    max-height: 5em;
    z-index: 1;

    overflow: hidden;
    text-align: right;

    width: 0;
    @if ( $use-fx ) {
      transition: width $fx-duration;
    }

    @media screen and (min-width: $viewport-width-l) {
      width: 16em;
    }

    @media screen and (min-width: $viewport-width-xl) {
      width: 25em;
    }

    @media screen and (min-width: $viewport-width-hd) {
      width: 30em;
    }

    @media screen and (min-width: $viewport-width-xxl) {
      width: auto;
      margin-right: 8%;
    }
  }


  &-results {
    $result-wrapper-padding-topbottom: 1em;
    $result-wrapper-padding-leftright: 1em;

    $result-padding-topbottom: .3333333em;
    $result-padding-leftright: .5em;

    padding: $result-wrapper-padding-topbottom $result-wrapper-padding-leftright;

    &-additional-wrapper {
      text-align: center;
      padding-bottom: .25em;
    }

    H2,
    FORM {
      max-width: $viewport-width-xl;
      margin: 0 auto;
      padding: 0 $result-padding-leftright;
    }

    H2 {
      max-width: rp-cem($viewport-width-xl, $font-size-h2);
      padding: ($result-wrapper-padding-topbottom / 2) rp-cem(($result-padding-leftright), $font-size-h2) $result-wrapper-padding-topbottom;
      box-sizing: border-box;
    }

    UL {
      padding: 0;
      margin: 0;
    }

    LI {
      position: relative;
      list-style: none;

      margin: 0;
      padding: 0;
      transform: translateY(0);

      border-bottom: .0625em solid $color-neutral-bg;

      text-align: right;

      &:last-of-type {
        border-bottom: 0;
      }
    }

    H3 {
      font-size: $font-size;
      margin: 0;
      padding: ($result-padding-topbottom) 0;
      word-break: break-all;
    }

    H3,
    P {
      text-align: left;
    }

    .button.icon {
      border-radius: 0;
      @if ( $use-fx ) {
        transition: border-radius $fx-duration-fast;
      }
    }

    .domainsearch-loading {
      cursor: progress;

      .button {
        opacity: .2;
        &.icon {
          border-radius: 50%;
          transform-origin: center;

          @if ( $use-fx ) {
            -webkit-animation: rotateClockwise $fx-duration-slower infinite;
               -moz-animation: rotateClockwise $fx-duration-slower infinite;
                -ms-animation: rotateClockwise $fx-duration-slower infinite;
                    animation: rotateClockwise $fx-duration-slower infinite;
          }

          &:BEFORE {
            @extend %icon-close;
            border-radius: 50%;
          }
        }
      }
    }


    .domainsearch-price,
    .domainsearch-transfer {
      display: block;
      position: relative;
      overflow: hidden;
      @if ( $use-fx ) {
        transition: max-height $fx-duration-fast, padding $fx-duration-fast, background-color $fx-duration-fast, color $fx-duration-fast;
      }
    }

    .domainsearch-price,
    .domainsearch-transfer-active .domainsearch-transfer {
      max-height: 40em;
      margin: 0;
      padding: ($result-padding-topbottom) ($result-padding-leftright);
    }

    .domainsearch-transfer-active .domainsearch-price,
    .domainsearch-transfer {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    $buttons-width: 8em;
    $buttons-icon-width: 2.125em;
    $price-width: 18em;

    .domainsearch-price {
      padding-right: ($price-width + $buttons-icon-width + ($result-wrapper-padding-leftright * 2));

      @if ( $use-fx ) {
        transition-delay: $fx-duration, $fx-duration, 0s, 0s;
      }

      P {
        @extend %domain-price;

        position: absolute;
        top: 0;
        width: $price-width;
        right: ($result-padding-leftright + $buttons-icon-width);
        padding: ($result-padding-topbottom * 2) $result-padding-leftright;
        margin: 0;
        text-align: right;
      }

      &:FOCUS {
        outline: .125em solid $color-neutral-dark;
        color: $color-text-dark;
      }
    }

    [property="price"],
    [property="priceCurrency"] {
      font-weight: $font-weight-semibold;
    }

    [property="duration"] {
      padding-left: .25em;
    }

    LABEL {
      cursor: pointer;

      &:HOVER {
        @extend %block-brand;
      }
    }

    // nth-last-of-type, wenn neue Domains immer am Anfang der Liste hinzugefuegt werden.
    // Nutzen Sie nth-of-type, wenn Sie neue Domains am Ende hinzufuegen moechten.
    LI:nth-last-of-type(2n) .domainsearch-transfer {
      &,
      & LABEL:HOVER {
        @extend %block-neutral;
      }
    }

    .domainsearch-result-unknown LABEL {
      cursor: default;
    }

    .button {
      margin-right: $result-padding-leftright;
    }

    .domainsearch-action {
      position: absolute;
      top: 0;
      right: 0;
      padding: $result-padding-topbottom 0;
      min-width: $buttons-icon-width;
    }


    .domainsearch-transfer {
      @extend %block-brand;

      padding-left: ($result-padding-leftright);
      padding-right: ($result-padding-leftright);

      @if ( $use-fx ) {
        transition-delay: $fx-duration-faster, $fx-duration-faster, 0s, 0s;
      }

      P {
        margin: .25em 0;

        &.form-line-margin {
          margin-top: 1em;
        }
      }

      .domainsearch-action {
        position: static;
        margin-top: 1em;
        right: auto;
        text-align: left;
      }

    }

    .domainsearch-transfer-active {
      @if ( $use-fx ) {
        .domainsearch-price {
          transition-delay: $fx-duration-faster, $fx-duration-faster, 0s, 0s;
        }
      }

      .domainsearch-transfer {
        padding-right: ($buttons-width + ($result-padding-leftright * 2));

        @if ( $use-fx ) {
          transition-delay: $fx-duration, $fx-duration, 0s, 0s;
        }

        .button {
          display: inline-block;
        }
      }
    }


    .domainsearch-result.product-in-cart,
    .domainsearch-result-in-cart {
      .button {
        @extend %block-brand-invert;
        &:BEFORE {
          @extend %icon-checkbox;
        }
      }

      &:HOVER,
      & .domainsearch-price:FOCUS {
        .button:BEFORE {
          @extend %icon-close;
        }
      }
    }

    @media screen and (max-width: $viewport-max-width-s) {
      $result-wrapper-padding-leftright: .5em;
      & {
        padding-left: $result-wrapper-padding-leftright;
        padding-right: $result-wrapper-padding-leftright;
      }
      FORM {
        padding: 0;
      }

      .domainsearch-price,
      .domainsearch-transfer-active .domainsearch-transfer {
        padding: ($result-padding-topbottom) ($result-padding-leftright);
      }

      .domainsearch-price {
        padding-right: $result-padding-leftright;
      }

      .domainsearch-price P,
      .domainsearch-action {
        position: static;
        display: inline-block;
      }
    }

    @media screen and (min-width: $viewport-width-xl) {
      .domainsearch-price {
        padding-right: ($price-width + $buttons-width + ($result-wrapper-padding-leftright * 2));

        P {
          right: ($result-padding-leftright + $buttons-width);
        }
      }

      .button.icon-only-with-hover {
        width: $buttons-width;
        padding-left: ($buttons-icon-width + .5em);
        padding-right: .5em;
        text-indent: 0;
      }
    }
  }

}


.domain-price-tariff-notice {
  margin: 0 auto;
  width: 80%;
  font-size: $font-size-s;
  color: $color-text-light;

  @media screen and (max-width: $viewport-max-width-s) {
    width: 90%;
  }
}

.domainsearch-big {
  $form-width: 80%;
  position: relative;
  max-width: $center-text-max-width;
  width: $form-width;
  margin: 0 auto;
  padding-left: 3em;
  padding-bottom: 1em;
  box-sizing: border-box;

  FORM {
    display: block;
  }

  &.icon:BEFORE {
    position: absolute;
    left: 0;
    top: 1.375em;
  }

  @media screen and (max-width: $viewport-max-width-s) {
    width: 100%;
    padding-left: 0;

    &.icon:BEFORE {
      display: none;
    }
  }
}
