$order-section-padding-topbottom: 1.5em;

.order-login,
.order-register {
  position: relative;
  text-align: center;

  ARTICLE {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.5em 4%;
    text-align: left;
  }

  .order-order-section-padding {
    margin-top: (2 * $order-section-padding-topbottom);
  }
}

@media screen and (max-width: $viewport-max-width-s) {
  .order-login,
  .order-register {
    ARTICLE {
      padding: .5em 3% 1.5em;
    }
  }
}

@mixin order-column() {
  &:BEFORE {
    content: '';
    position: absolute;
    top: (1.25em + $order-section-padding-topbottom + (2*$font-size-price));
    bottom: (1em + $order-section-padding-topbottom);
    width: .0625em;
    left: 50%;
    margin: 0 auto 0 -.0625em;
    background-color: $color-neutral-bg;
    display: block;
  }

  ARTICLE {
    display: inline-block;
    width: 45%;
    max-width: $viewport-width-xs;
  }
}

@media screen and (min-width: $viewport-width-s) {
  .order-login {
    @include order-column();
  }
}

@media screen and (min-width: $viewport-width-m) {
  .order-register {
    @include order-column();
  }
}
