.tariff-table-section {
  padding: 2em .5em .5em;

  @media screen and (max-width: $viewport-max-width-xs) {
    display: none;
  }
}

.tariff-table-activate-wrapper {
  padding-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;

  .button {
    max-width: $center-max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .button.big {
    max-width: rp-cem($center-max-width, $font-size-l);
  }
}

.tariff-table-wrapper {
  $collapse-speed: $fx-duration;
  padding: 0;
  margin: 0 auto;
  position: relative;
  max-height: 0;
  opacity: .5;
  overflow: hidden;
  transition: max-height ease-in $collapse-speed, opacity ease-in $collapse-speed;

  H2 {
    text-align: center;
    padding-bottom: 1em;
  }

  &.section-active {
    max-height: 300em;
    opacity: 1;
    transition: max-height ease-out $collapse-speed, opacity ease-out $collapse-speed;
  }

  @media screen and (max-width: $viewport-max-width-m) {
    font-size: $font-size-s;
  }
}

.tariff-table {
  $col-padding: .25em;
  $row-padding: .25em;
  $section-border: .0625em solid $color-neutral-bg;

  margin: 0 auto;
  padding: 0;
  max-width: $center-max-width;
  vertical-align: center;
  white-space: normal;

  TR {
    > :nth-child(2n) {
      @extend %block-brand-bright;
    }
    > .tariff-table-highlight {
      @extend %block-brand-invert;
    }

    &:HOVER {
      @extend %block-brand-text;

      > :nth-child(2n) {
        @extend %block-brand-text-light;

        &.tariff-table-highlight {
          @extend %block-brand-invert-light;
        }
      }
    }
  }

  TH,
  TD {
    padding: $row-padding $col-padding;
  }

  // Beschreibung in der ersten Spalte
  &-label {
    text-align: left;
    word-wrap: break-word;
    width: 10em;
    max-width: 10em;
    padding-right: 1em;
    font-weight: $font-weight-normal;
  }

  // Einzelner Datensatz
  &-limit {
    text-align: center;
  }

  // Limitgruppe
  &-group {
    TR {
      border-bottom: $section-border;
    }

    .tariff-table-label {
      cursor: help;
    }
  }

  // Überschrift einer Limitgruppe
  &-group-head {
    border-bottom: $section-border;

    // Hover der Zeilen ignorieren
    TR, TR:HOVER {
      @extend %block-brand-text-light;
    }

    TH {
      padding: ($row-padding * 6) $col-padding ($row-padding * 3);
      text-align: left;
    }

    H3 {
      margin: 0;
    }
  }


  // Hervorgehobener Tarif
  &-highlight {
    @extend %block-brand-invert;

    TR:HOVER & {
      @extend %block-brand-invert-light;
    }
  }


  // Tabellenkopf
  &-head {
    vertical-align: top;
  }

  // Name des Tariffs
  &-name {
    word-wrap: break-word;
    width: 6em;
    max-width: 6em;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  // Tabellenfuss
  &-foot {
    border-top: $section-border;
    text-align: center;

    &-name {
      vertical-align: top;
      font-size: $font-size-s;

      .tariff-table-label,
      .tariff-table-name {
      padding: ($row-padding * 4) ($col-padding);
      }
    }
  }


  // Preis
  & &-price {
    font-size: $font-size-h1;
    padding: rp-cem( ($row-padding * 2), $font-size-h1) rp-cem($col-padding, $font-size-h1);
  }
  & &-foot-price &-price,
  & &-foot-price:HOVER &-price {
    color: $color-main-text;
  }

  & &-foot-price &-price.tariff-table-highlight,
  & &-foot-price:HOVER &-price.tariff-table-highlight {
    color: $color-text-invert;
  }

  // Buttons
  & &-foot-actions:HOVER {
    background: none;
  }

  @media screen and (min-width: $viewport-width-m) {
    .tariff-table-label {
      width: 12em;
      max-width: 12em;
    }
    .tariff-table-name {
      width: 8.5em;
      max-width: 8.5em;
    }
  }

  @media screen and (min-width: $viewport-width-xl) {
    .tariff-table-name {
      width: 10em;
      max-width: 10em;
    }
  }

}
