.whyus {
  padding-bottom: 1em;

  @media screen and (min-width: $viewport-width-m) and (max-width: $viewport-max-width-m) {
    .column-box {
      min-height: 23em;
    }

    .nice-quote {
      padding-top: 1em;
    }
  }

  @media screen and (min-width: $viewport-width-l) {
    .column-box {
      min-height: 19em;
    }

    .nice-quote {
      padding-top: 1em;
    }
  }
}
